{# https://docs.strongswan.org/docs/latest/config/quickstart.html#_roadwarrior_case_with_eap #}

connections {
  rw {
    local {
      auth = pubkey
      {# Should a matching private key be specified? #}
      {# certs = /etc/ssl/certs/{{ inventory_hostname }}.pem #}
      {# Cover all domains. #}
      id = vpn.{{ domain }}
    }
    remote {
      auth = eap-md5
    }
    {# What is a "local traffic selector"? #}
    {# 
    children {
      rw {
        local_ts  = 10.1.0.0/16
      }
    }
    #}
    send_certreq = no
  }
}


secrets {
  eap-bugher {
    id = bugher
    secret = "{{ lookup('community.general.passwordstore', 'shared/vpn/bugher') }}"
  }
}


