{# https://docs.strongswan.org/docs/latest/config/quickstart.html#_roadwarrior_case_with_eap #}

connections {
  rw {
    remote {
      auth = psk
    }
    send_certreq = no
  }
}


secrets {
  psk-bugher {
    id = bugher
    secret = "{{ lookup('community.general.passwordstore', 'shared/vpn/bugher') }}"
  }
}


